.container {
  max-height: 100vh;
  max-width: 100vw;
}
.content_wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.right_side {
  width: 45%;
  margin-right: -5rem;
  padding-top: 2rem;
}

.left_side {
  width: 55%;
  padding: 5rem;
}
.join_container {
  width: 90%;
}
.twitter_logo {
  font-size: 20rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin: auto;
  padding-left: 5rem;
}
h1 h2 h3 .twitter_logo {
  color: rgb(15, 20, 25);
}
h1 {
  font-size: 64px;
  line-height: 84px;
  font-weight: 800;
  letter-spacing: 1.8px;
  margin-left: -10px;
  padding-top: 1.5rem;
}
h2 {
  padding-top: 1.5rem;
  font-size: 31px;
  line-height: 36px;
  text-align: left;
  font-weight: 900;
  margin: 20px;
  margin-left: -10px;
}
h3 {
  margin: 20px;
  padding-top: 35px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  margin-left: -2px;
}
.or_divider {
  width: 290px;
  text-align: center;
  border-bottom: 1px solid#c1bdbd;
  line-height: 5px;
  /* margin: 3px 0 1px; */
  margin: 15px 15px;
}

.or_divider span {
  background: #fff;
  padding: 0 2px;
}

.btn {
  width: 300px;
}
.google_btn {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 20px;
  margin: 5px;
}
.apple_btn {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: rgb(15, 20, 25);
  border-radius: 20px;
  margin: 5px;
}
.create_account_btn {
  border-radius: 17px;
  margin: 5px;
}
.sign_in_btn {
  border-radius: 17px;
}
.terms_text {
  font-size: 11px;
  color: rgb(83, 100, 113);
  line-height: 12px;
  font-family: "Roboto";
  font-weight: 400;
  margin-top: 5px;
  text-align: left;
}
small a {
  text-decoration: none;
}
.apple_icon {
  font-size: 20px;
}
.form_container {
  display: flex;
  flex-direction: column;
}
.footer {
  width: 100vw;
  height: 10vh;
  text-align: center;
  padding-top: 3rem;
}
.footer ul {
  display: flex;
  gap: 6px;
}
.footer ul li {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
/* display: flex;
  margin-bottom: 0;
  align-content: space-around; */

.footer ul li a {
  text-decoration: none;
}
.footer ul {
  list-style-type: none;
}
.footer ul li a {
  color: rgb(83, 100, 113);
}
