.search-input-container {

    position: relative;
    height: 2.5rem;
    border: none;
    border-radius: 30px;
    padding: 0 20px;
    display: flex;
    align-items: center;

}

.search-results {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 5px;
    margin-top: 5px;
    max-height: 370px;
    overflow-y: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}



.search-input {

    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
    padding: 0;
    box-shadow: none;
    outline: none;

}

.search-results>p {
    padding: 10px 20px;
}

.suggestion-line:hover {
    background-color: #efefef;
}

.search-input-container .suggestion-line {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.search-input-container .suggestion-line:hover {
    background-color: #f5f5f5;
}

.suggestion-line.active {
    background-color: #f5f5f5;
}


.close-button {
    font-size: 20px;
    color: rgb(29, 155, 240);
}

.search-container {
    margin: 0px 30px;
    width: 340px;
    padding: 3px;
    /* max-width: fit-content; */
    background-color: rgba(185, 202, 211, 0.24);
    border-radius: 30px;

}

.container-right {
    flex: 0.4;
    border-left: 1.5px solid rgba(208, 208, 208, 0.441);

}

.container-right:focus-within {
    border: 1px solid rgb(29, 155, 240);
    background-color: transparent;
}

.search-input-container:focus-within .search-icon {
    color: rgb(23, 67, 243);
}

.search-icon,
.close-button {
    transform: translateY(-2.5px);
}


.search-input::placeholder {
    font-size: 15px;
    padding: 10px;
    transform: translateY(-2px);

    /* Adjust the font size as needed */
    /* Add any other styles you want for the placeholder text */
}