.sidebarProp {
    display: flex;
    align-items: center;
    cursor: pointer;
    /*  margin-left: 50px; */
    padding-left: 15px;
}

.sidebar-icon {
    font-size: 28px;


}

.sidebarProp:hover {
    background-color: #ededed;
    border-radius: 30px;
    transition: color 100ms ease-out;
}



.sidebarProp>h3 {
    font-weight: 400;
    font-size: 20px;
    margin: 15px;
}

.sidebarProp--active {
    color: rgb(7, 7, 7);
}

.X-icon {
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 30px;
}

.sidebar-container {

    flex: 0.28;
    border-right: 1.5px solid rgba(208, 208, 208, 0.441);
    max-width: fit-content;
    margin-top: 10px;
    padding-right: 35px;

}

.sidebarProp--active>h3 {
    font-weight: bold;


}

.sidebar-btn {
    padding: 5px 100px;
    margin-top: 20px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: rgb(29, 155, 240);
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.sidebar-btn:hover {
    background-color: rgba(29, 156, 240, 0.603);
}