.slim-input {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.form-floating {
  margin-bottom: 0.5rem;
}

textarea.slim-input {
  height: 3rem;
}
.register_btn {
  margin-top: 1.5rem;
  border-radius: 18px;
  color: white;
  background-color: black;
  margin-top: 3rem;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  font-size: 1.2rem;
}
